
body{
    width: 100%;
    margin: 0;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC6AC;
    flex-direction: column;
}  
.projects  ul{
    background-color: #FFF6DC !important;
    margin: 0 30px;
    border-radius: 10px;
}
footer {
    clear: both;
    position: relative;
    height: 500px;
    margin-top: -200px;
}


/* contactme css */

.contact_me_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    

}
a{
    text-decoration: none;
}
.contact_me_content  div {
    width: 200px;
    height: 50px;
    background-color: #94ADD7;
    border: solid black 2px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
